h1 {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 28px;
  background-color:#ccc;
  border-radius: 10px;  
  color:blue; font-size:40px; font-family: tahoma;
}

body {
  background-color: #8e2de2;
  background-repeat: no-repeat;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

main.container {
  justify-content: center;
  background:#ccc;
  padding: 2rem;
  border-radius: 10px;
}

section {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 50vh;
}

form div {
  display:flex;
  flex-direction:column;
  align-items:center;
}

form input, form textarea {
  border-radius: 10px;  
}

form input:focus, form textarea:focus {
  background-color: #CCCCCC;
}

input[name="rua"]{width: 200px; background-color:white;}
input[name="bairro"]{width: 200px; background-color:white;}
input[name="cidade"]{width: 200px; background-color:white;}
input[name="uf"]{width: 200px; background-color:white;}
input[name="ibge"]{width: 200px; background-color:white;}

